


<div class="poster">
  <img src="<%= movie.poster_url %>">
</div>
<div class="info">
  <h1><%= movie.title %> (<%= movie.year %>)</h1>
  <p><%= movie.runtime %>, rated <%= movie.rated %> </p>
  <p><%= movie.genre %></p>
  <p><span>Written by:</span> <%= movie.writer %> </p>
  <p><span>Directed by:</span> <%= movie.director %></p>
  <p><span>Country:</span> <%= movie.country %></p>
  <p><span>Starring:</span> <%= movie.actors %></p>
  <%= movie.plot %>
  <div class="back">
    <a href="/">Search again</a>
  </div>
</div>








